*{
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */

}

nav{
    height: 100px;
    width: 100vw;
    display: flex;
    background-color: black;
    position: fixed;
}
#welcome_logo{
    flex-basis: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-right: 2px solid white;
}
#logo{
    height: 80px;
    width: 80px;
}
#cart{
    font-size: 28px;
    color: white;
}
#cartValue{
    position: relative;
    display: inline-block;
    bottom: 24px;
    font-size: 12px;
    border: 2px solid black;
}
#welcome_user{
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
#welcome1{
    font-size: 20px;
    color: white;
}
#welcome2{
    font-size: 18px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
}
#card_container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    /* margin-top: 30px; */
    margin-bottom: 20px;
    padding-top: 130px;
}
.card{
    height: 600px;
    width: 400px;
    border: 1px solid rgba(85, 83, 83, 0.533);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
main img{
    height: 300px;
    width: 300px;
}
main p{
    text-align: justify;
}

main button{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(167, 15, 15);
    color: white;
    border: none;
}
#cart_items{
    /* height: 250px; */
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
#cartImage{
    height: 100px;
    width: 100px;
}