*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-image: url("./Assests/360_F_644520910_0qAcxInM49OxJaDZ4lhmh3TmHEIj4sOr.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    color: rgb(0, 0, 0);
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    /* flex-basis: 50%; */
    height: 550px;
    width: 400px;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    /* padding-left: 200px; */
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: rgba(255,255,255, 0.25) 0px 54px 55px, rgba(255,255,255, 0.12) 0px -12px 30px, rgba(255,255,255, 0.12) 0px 4px 6px, rgba(255,255,255, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 30px;
    height: 280px; */
    /* border-radius: 20px; */
}

#image{
    flex-basis: 50%;
    /* border: 2px solid red; */
    height: 100vh;
}
#form h1{
    color: white;
    font-size: 30px;
}
#form #welcome{
    color: white;
    font-size: 16px;
}
#form .input{
    height: 40px;
    width: 300px;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    /* border-radius: 5px; */
    color: lemonchiffon;
}
#form .input::placeholder{
    color: rgba(255, 255, 255, 0.4);
}
div{
    position: relative;
    left: 8.5px;
}
#eye{
    position: relative;
    right: 20px;
}
#form #login{
    height: 30px;
    background-color: rgba(0, 0, 0, 1);
    width: 100px;
    color: white;
    border-radius: 5px;
}
#form #forget{
    font-size: 15px;
    color:white;

}
#form #user{
    font-size: 20px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}